/* Light Mode Styling */
/* body.light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #2B85FF;
    --secondary-color: #f0f0f0;
  }
  
  /* Dark Mode Styling */
  /* body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    --secondary-color: #333333;
  } */
  
   /* Apply styles based on variables */
  /* body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }  */
   